# Required: Hedera credentials (get free testnet account at https://portal.hedera.com/dashboard)
ACCOUNT_ID=0.0.********
PRIVATE_KEY=***********************************************************************************

# LLM provider API key
ANTHROPIC_API_KEY=*************************************************************************

# Coincap API needed by coincap-hedera-plugin
COINCAP_BEARER_TOKEN=*************************************************************